<mat-toolbar color="primary" class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <a routerLink="/" class="text-decoration-none text-white d-flex align-items-center">

            <span class="f-w-600 f-s-18"> Stefan Mall</span>
        </a>
    </div>

    <div class="d-flex align-items-center gap-2">
        <a mat-button routerLink="/">Home / Shop</a>
        <a mat-button routerLink="/">Search products</a>
        <a mat-button routerLink="/products">Promotions</a>
        <a mat-button routerLink="/shops">Communications</a>

        <!-- <a mat-flat-button color="accent" routerLink="/authentication/login" class="m-l-16">
            Login Admin
        </a> -->
    </div>
</mat-toolbar>