<mat-toolbar color="accent" class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <a routerLink="/shop-admin" class="text-decoration-none text-white d-flex align-items-center">
            <span class="f-w-600 f-s-18"> My Shop Admin </span>
        </a>
    </div>

    <div class="d-flex align-items-center gap-2">
        <a mat-button routerLink="/shop-admin">Dashboard</a>
        <a mat-button routerLink="/shop-admin/products">My Products</a>
        <a mat-button routerLink="/shop-admin/sales">Sales</a>
        <a mat-button routerLink="/shop-admin/reviews">Reviews</a>

        <a mat-flat-button color="warn" (click)="logout()" class="m-l-16">
            Logout
        </a>
    </div>
</mat-toolbar>